.container {
    display: flex;
    width: 95%;
    flex-direction: row;
    flex: auto;
    justify-content: space-between;
    margin: 30px auto;
}
.container > a > img {
    width: 140px;
    height: auto;
}
.container > .nav-bar {
    display: flex;
    width: 300px;
    justify-content: space-around;
}
/* .content {
    margin-top: 100px;
} */
.recipe-pic {
    width: 250px;
    height: 250px;
}

.recipes-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
    flex: auto;

}
.recipes-container .recipe-home {
    width: 280px;
    
}
.recipe-name {
    font-size: 18px;
}